:root {
    --font-family: "Roboto", sans-serif;

    --btn: #f89422;
    --gray: #7f7f7f;

    --backColor: #f4f0ef;
    --backBlueColor: #395c7a;
}

body {
    font-family: var(--font-family);
    color: var(--textColor);
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}

button {
    background-color: var(--btn);

    border-radius: 10px;
    padding: 10px 30px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;

    align-self: center;
}




